.product{
    display: flex;
    border-bottom: 1px solid lightgray ;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.product_name{
    color: blue;
    font-weight: 400;
}
.product_description{
    margin-left: 15px;
}
/* .add_cart_btn{

    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
} */

.icon-color{
    color: gold;
}
